
:host {
  display: block;
  width: 100%;
}

.header {
  background-color: transparent;
  font-family: 'Inter';
  letter-spacing: 3px;
  

  &__container {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 2.5rem;
    font-weight: 750;
    text-decoration: none;
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }

  &__nav {
    display: flex;
  }

  &__button {
    padding: 8px 16px;
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 1.4px;
    border: none;
    font-family:'Inter';
    cursor: pointer;
    
    
    &:hover {
      text-decoration: underline;
      text-decoration-color: #ea5153;
      text-underline-offset: 0.8rem;
      text-decoration-thickness: 2px;
      transition-duration: .3s;
    }
  }

  &__mobile-toggle{
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: x-large;
    font-weight: 800;
    min-width: 3em;
  }
}
