
<div class="header_container">
    <span class="header_title">              
        CATAI 
    </span>
    <span class="header_menu">
        <div class="header_button">
            <a routerLink="/circuitos" routerLinkActive="active">LISTADO DE CIRCUITOS</a>
        </div>
        <div class="header_button">
            <a routerLink="/ciudades" routerLinkActive="active">LISTADO DE CIUDADES</a>
        </div>
        <div class="header_button">
            <a routerLink="/buscar" routerLinkActive="active">BUSCAR CIRCUITOS EN CIUDADES</a>
        </div>
    </span>
</div>
